.participant-counter {
  position: absolute;
  top: 10px;
  right: 25px;
  background-color: var(--accent-dark);
  color: var(--text-primary-dark);
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 0.8rem;
  opacity: 0.9;
  transition: opacity var(--transition-speed);
}

@media (max-width: 768px) and (orientation: portrait) {
  .participant-counter {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    font-size: 0.9rem;
    padding: 3px 12px;
    z-index: 1;
  }

  .input-container {
    margin-top: 30px;
  }
}

.participant-counter:hover {
  opacity: 1;
}
